<form method="POST">
  <div class="form-group">
    <label for="keyword">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="keyword" placeholder="Nhập từ khóa tìm kiếm">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>