<div class="card">
    <div class="card-header">
        <strong>Lịch sử làm việc</strong>
        <div class="spacer"></div>
    </div>
    <div class="card-body">
        <div class="wrap-table">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-head">sdklf</th>
                        <th class="col-head">sdkl</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <button color="primary" mat-mini-fab matTooltip="Thêm mới" [matTooltipPosition]="'above'" (click)="add()">
                                <i class="material-icons">add</i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button color="primary" mat-mini-fab matTooltip="Thêm mới" [matTooltipPosition]="'above'" (click)="add()">
                                <i class="material-icons">add</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>